/*slides in ducting*/
img.mySlides{
width:600px;
height: 250px;
margin-left: 15%; 
margin-right: 10%;
}
img.last{
    width:600px;
    height: 250px;
}
.button-L
{
margin-left: 4%; 
width: 10%;
height: 5%;
margin-top: -15%;
}
.button-R
{
margin-top: -15%;
margin-right: 1%;
width: 10%;
height: 5%;
}
/*slides in ducting*/


/*slides in homepage*/
img.mySlides{
width:600px;
height: 250px;
margin-left: 19%; 
margin-right: 10%;
}

.button-LL
{
margin-left: 1%;
width: 10%;
height: 5%;
margin-top: 35%;
}
.button-RR
{
margin-top: 35%;
margin-right: 1%;
width: 10%;
height: 5%;
}

/*slides in homepage*/

img.logo{ 
/*margin-left: 20%;*/
width: 80%;
height: 80%;
}
img{
/*display image*/ 
/*for displaying in center */
display: block;
margin: auto;
max-width: 80%; 
max-height:80%;}

a.menu{
   font-size: 2em;
   text-align: justify;
    background-color:black;

}

/*a:link {
	color: red ;
	text-decoration: none ;
}*/
a{
    color: red;
}
a:visited {
	color: red;
}
a:hover{
    background-color:red;
	color:white  ;
}


li.menu_bar_li{  
	list-style:none ;
    position: relative;
    float:left;
    width: 40%;;
    margin-left: 10%;
    margin-bottom: 5%;
    font-weight: bolder;
  
    }


nav{
    width: 100%;
    height:340px;/*230px*/
    background-color:black;
    position: fixed;
	z-index:2;
	
}
.product
{
height:300px;
width:600px;


}
.dropbtn {
    list-style: none ;
	text-align: center ;
    cursor: pointer;
    float:  left;
 width: 180px;
 margin-left: 10%;
     }
.dropdown {
    list-style: none ;
    position: relative;
    display:list-item;
    margin-bottom: 4%;
     margin-left: 10%;
     font-weight: bolder;
  }

.dropdown-content {
    font-size: 1.5em;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 250px;
    min-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 4%;
    font-weight: bolder;
    }
.bottom_item{
	border-bottom: thin #CCFFFF inset ;
}
.dropdown-content a {
    height: 25%; 
    color: red;
    padding: 5%;
    text-decoration: none;
    display: block;
    border-top: thin #CCFFFF inset ;
}
 
.dropdown-content a:hover {
background-color:red;
color: white ;
}

.dropdown:hover .dropdown-content {
       display: list-item ;
}

body,h1,h2,h3,h4,h5,h6{font-family: "Montserrat", sans-serif;}

 /*when user select onto the current page and the hover effect*/
 .self 
{
	cursor: default ;
	border-bottom: thin aqua solid ;
	opacity:0.9;
	background-color: azure;
}
 .self:hover
{
	background-color: black;	
	color: red;
}
.footer {

  text-align: center;
  clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 3em;
}

.background-pic{
position: absolute ;
	opacity:0.5;
	z-index: -1;
}


a.google-form{
	text-decoration: underline ;
	color: Highlight ;
}
/*for button usage : center positioning*/
 li{
        list-style: none;
    }
      
.phone{
width:100%;
    height: 20%;
}
.wrapper {
    text-align: center;

}

.button {
    color: lightgreen;
    margin:auto;
     display: inline-block;
    text-align: center;

}


/*blink function    .75*/
.blink {
	-webkit-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-o-animation: blink 1s linear infinite;
	 animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/*end blink*/





/*lighting effect font css   area is the class name*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 background: #111;

}

.area {
  text-align: start;

  font-size: 2.5em;
  color: red;
  letter-spacing: -7px; 
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 3s infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}


/*neon light effect font*/

.neon{
text-shadow: 0 0 10px #fff,
0 0 20px lawngreen,
0 0 30px lawngreen,
0 0 40px lawngreen,
0 0 70px lawngreen,
0 0 80px lawngreen,
0 0 100px lawngreen,
0 0 150px lawngreen;
}

/*neon light effect font*/

/* end of lighting effect font css*/


h1{

  text-align: justify;
  overflow: visible;
  margin: 100px;
 /*  margin-left: 80px;*/
}


.w3-display-container,.zoom{
	size: 120%;
	-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;

}
 
.w3-display-container:hover,.zoom:hover{
-moz-transform:scale(1.2); 
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}
