img{
 size:100%;
 max-height: 50%;
}
.mobile_nav_element
{
font-size: 0.5em;/*not overlap */
width:80%;
height: 120%;
margin-left: 5%;
font-weight: bolder;
/*float: left;*/
padding: 0.1em;

}
a.menu{
   /* margin-left: 2%;*/
    background-color:black;
    padding: 0.8em;
 width: 120%;
  height: 120%;
}


#change{
    height:150px;
    
}
.dropdown {
    list-style: none ;
    position: relative;
    display:list-item;
    margin-bottom: 5%;
   /* margin-left: 1%;*/
   
  }

    .dropbtn {
    list-style: none ;
	text-align: center ;
    cursor: pointer;
    float:  left;
    width: 10%;
   
     }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width:20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size:1em;
   /* margin-left: 4%;*/
    }
