
h1{

  text-align: justify;
  overflow: visible;
  margin: 50px;
   margin-left: 80px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
img{
/*display image*/
/*for displaying in center */
display: block;
margin: auto;
max-width: 100%; 
min-height:50%;
	
    }
a{
    color: red
}
a.menu{
    margin-left: 2%;
    background-color:black;
   /* padding: 0.8em;*/
   padding: 0.8em;
   font-size: 1.2em;
}

a:link {
	color: red ;
	text-decoration: none ;
}
a:visited {
	color: red;
}
a:hover{
    background-color:red;
	color:white  ;
}


li.menu_bar_li{  
	list-style: none ;
    position: relative ;
    float: left ;
    width:20%;   /*20%*/
    margin-bottom: 3%;
    margin-left: 5%;
    font-weight: bolder;
    text-decoration: none;
    }
    li{
        list-style: none;
    }
      
ul.menu_bar{
       padding: 1em;
       width: 100%; 
       max-width:100%;
      
	  }
nav{
    width: 100%;
    height:33%;
    background-color:black;
    position: fixed;
	z-index:2;
	
}


.product
{
height:200px;
 width:200px;
 
}

.phone {
   display:none;
  
}
.wrapper {
    text-align: center; 

}
.button {
 color: lightgreen;
   text-align: center;
 
}
a.button-hover:hover{
margin:auto;
  display: inline-block;
   text-align: center;
    background-color: unset;
    color: black;
    
}
.dropbtn {
    list-style: none ;
	text-align: center ;
    cursor: pointer;
    float:  left;
 width: 20%;

     }
.dropdown {
    list-style: none ;
    position: relative;
    display:list-item;
    margin-bottom: 4%;
     margin-left: 10%;
     font-weight: bolder;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 4%;
    }
.bottom_item{
	border-bottom: thin #CCFFFF inset ;
}

.dropdown-content a {
    height: 25%; 
    color: red;
    padding: 5%;
    text-decoration: none;
    display: block;
    border-top: thin #CCFFFF inset ;
}


body,h1,h2,h3,h4,h5,h6{font-family: "Montserrat", sans-serif;}



.dropdown-content a:hover {
background-color:red;
color: white ;
}

.dropdown:hover .dropdown-content {
       display: list-item ;
}

.footer {

  text-align: center;
  clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 3em;
}
 /*when user select onto the current page and the hover effect*/
 .self 
{
	cursor: default ;
	border-bottom: thin aqua solid ;
	opacity:0.9;
	background-color: azure;
}
 /*.self:hover
{
	background-color: black;	
	color: red;
}*/
/*end*/
.homepage-logo:hover{
	background-color: black;
}
.background-pic{
position: absolute ;
	opacity:0.5;
	z-index: -1;
}
.footer {

  text-align: center;
 
}

a.google-form{
	text-decoration: underline ;
	color: Highlight ;
}
/*blink function*/
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/*end blink*/

/*lighting effect font css    area is the class name*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 background: #111;

}

.area {
  text-align: start;
  font-size: 2.5em;
  color: red;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 3s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}



/* end of lighting effect font css*/



/*neon light effect font*/

.neon{
text-shadow: 0 0 10px #fff,
0 0 20px lawngreen,
0 0 30px lawngreen,
0 0 40px lawngreen,
0 0 70px lawngreen,
0 0 80px lawngreen,
0 0 100px lawngreen,
0 0 150px lawngreen;
}

/*neon light effect font*/













/*HTML nav bar codes*/


/*<header>
<nav>
<h1 style="left: 0px; top: 0px; width: 457px; height: 65px">
<img src="logo_new.JPG" alt="Gay Hong Trading" class="auto-style1" width="403" height="80">
<h4 align="right" style="color: white">Search Products Keyword
<input type="text" name="search" size="25" >
<input type="submit" name="confirm" value="confirm ">
</h4>
</h1>
<ul class="menu_bar">
<li class="menu_bar_li" ><a href="About Us.html" class="menu">ABOUT US</a></li>
<li class="menu_bar_li"><a href="Ducting_Services.html" class="menu">Ducting Services</a></li>
<div class="dropdown">
<li  class="dropbtn">
<a href="#" class="menu"  style="padding: 1em">Categories</a>
<div class="dropdown-content">
    <a href="Categories.html"class="w3-animate-zoom">Zinc</a>
    <a href="Categories.html"class="w3-animate-zoom">PVC</a>
    <a href="Categories.html"class="w3-animate-zoom">Metal</a>
     <a href="Categories.html"class="w3-animate-zoom">Aluminium</a>
    <a href="Categories.html" class="w3-animate-zoom">Pipe</a>
  </div>
</li>
</div>
<li class="menu_bar_li" style="float: right "><a href="Homepage_chinese.html" class="menu">中文版</a></li>
</ul>
</nav>
</header>
*/

